# {{ ansible_managed  }}

daemon={{ ddclient_daemon }}
ssl={{ ddclient_ssl }}
syslog=yes

{% for config in ddclient_configs %}
    {% if config.use %}
use={{ config.use }}
    {% endif %}
protocol={{ config.protocol }}
    {% if config.server %}
server={{ config.server }}
    {% endif %}
    {% if config.backupmx %}
backupmx={{ config.backupmx }}    
    {% endif %}
    {% if config.mx %}
mx={{ config.mx }}
    {% endif %}
    {% if config.mxpri %}
mxpri={{ config.mxpri}},
    {% endif %}
login={{ config.login }}
password={{ config.password }}
{{ config.hosts|join(', ')}}

{% endfor %}
